In [1]:
import pandas as pd
import numpy as np

In [2]:
dfx=pd.read_csv("train.csv",parse_dates=['Sign_up_date', 'Last_order_placed_date' ])
dfx_ans1=dfx['Gift_card_amount']
dfx=dfx.drop(['Gift_card_amount'], axis=1)

In [3]:
dfx_ans = dfx_ans1.values.reshape(-1,1)

In [4]:
dfy=pd.read_csv('test.csv',parse_dates=['Sign_up_date', 'Last_order_placed_date' ])
sample1 = dfy['Customer_ID']

In [5]:
dfz = pd.concat([dfx,dfy])

In [6]:
# dfz.shape

In [7]:
dfz.describe()

,No_of_orders_placed,Maximum_bill,Minimum_bill,No_of_Review_given,No_of_Comment_added,No_of_Images_added,No_of_issues_raised,Orders_returned
count,15398.000000,14943.000000,15398.000000,14865.000000,15398.000000,14793.000000,15398.000000,15398.000000
mean,124.720029,893.964732,188.277332,53.548402,22.875049,13.212939,17.417002,3.422847
std,103.108873,655.554747,68.156231,44.816593,20.060643,12.452862,17.767398,4.337546
min,20.000000,73.890000,75.000000,6.000000,2.000000,1.000000,0.000000,0.000000
25%,48.000000,400.730000,131.000000,20.000000,8.000000,4.000000,5.000000,0.000000
50%,74.000000,725.120000,184.770000,33.000000,14.000000,8.000000,10.000000,2.000000
75%,197.000000,1131.425000,236.370000,82.000000,35.000000,19.000000,23.000000,4.000000
max,779.000000,2672.840000,344.990000,201.000000,132.000000,62.000000,163.000000,39.000000

In [8]:
dfz.isnull().sum()

Customer_ID                 0
Sign_up_date              300
Last_order_placed_date    380
No_of_orders_placed         0
Maximum_bill              455
Minimum_bill                0
No_of_Review_given        533
No_of_Comment_added         0
No_of_Images_added        605
No_of_issues_raised         0
Orders_returned             0
Category_of_customers     752
Gender                      0
Premium                     0
dtype: int64

In [9]:
def impute_nan(df,variable):
#     df[variable+"_median"]=df[variable].fillna(median)
    df[variable+"_random"]=df[variable]
    random_sample=df[variable].dropna().sample(df[variable].isnull().sum(), random_state=0)
    random_sample.index=df[df[variable].isnull()].index
    df.loc[df[variable].isnull(),variable+"_random"]=random_sample

In [10]:
for feature in ['Sign_up_date', 'Last_order_placed_date', 'Maximum_bill', 'No_of_Review_given', 'No_of_Images_added',
                  'Category_of_customers']:
    impute_nan(dfz, feature)

In [11]:
dfz = dfz.drop( ['Sign_up_date', 'Last_order_placed_date', 'Maximum_bill', 'No_of_Review_given', 'No_of_Images_added',
                  'Category_of_customers'] , axis=1)

In [12]:
dfz['Sign_up_date_modified']=((pd.to_datetime("2021-11-25")-dfz['Sign_up_date_random'])/np.timedelta64(1,'Y'))
dfz['Last_order_placed_date_modified']=((pd.to_datetime("2021-11-25")-dfz['Last_order_placed_date_random'])/np.timedelta64(1,'Y'))

dfz = dfz.drop(["Customer_ID","Sign_up_date_random","Last_order_placed_date_random"], axis=1)

In [13]:
dfz = pd.get_dummies(dfz, columns=['Category_of_customers_random'], drop_first=True)

In [14]:
dfz.head()

,No_of_orders_placed,Minimum_bill,No_of_Comment_added,No_of_issues_raised,Orders_returned,Gender,Premium,Maximum_bill_random,No_of_Review_given_random,No_of_Images_added_random,Sign_up_date_modified,Last_order_placed_date_modified,Category_of_customers_random_Inactive,Category_of_customers_random_Passive
0,152,161.37,29,33,4,Female,No,664.04,76.0,31.0,9.174048,0.952676,0,0
1,59,101.00,7,3,1,Male,No,693.30,31.0,6.0,4.405703,2.570083,0,0
2,77,217.00,15,10,2,Female,No,907.98,37.0,12.0,7.372453,6.441329,0,1
3,337,239.43,40,50,19,Male,No,2406.31,153.0,46.0,7.902562,3.539714,0,1
4,269,182.65,64,38,6,Female,Yes,777.26,93.0,16.0,6.494032,3.374322,0,1

In [15]:
# replace_map = {'Category_of_customers_random': {'Active': 2, 'Passive': 1, 'Inactive':0}}
# dfz.replace(replace_map, inplace=True)

In [16]:
replace_map = {'Gender': {'Male': 0, 'Female': 1}}
dfz.replace(replace_map, inplace=True)

In [17]:
replace_map = {'Premium': {'No': 0, 'Yes': 1}}
dfz.replace(replace_map, inplace=True)

In [18]:
# for i in dfz.columns:
#     print(dfz[i].isnull().sum(), dfz[i].dtypes, "  ", i)

In [19]:
# import seaborn as sns
# sns.set(rc={'figure.figsize':(18,10)})
# sns.heatmap(dfz.corr().abs(),annot=True)

In [20]:
# sns.pairplot(data=df, diag_kind='kde')

In [21]:
dfz =dfz.drop(["No_of_Comment_added", "No_of_Review_given_random", "No_of_Images_added_random"], axis=1)

In [22]:
dfz.columns

Index(['No_of_orders_placed', 'Minimum_bill', 'No_of_issues_raised',
       'Orders_returned', 'Gender', 'Premium', 'Maximum_bill_random',
       'Sign_up_date_modified', 'Last_order_placed_date_modified',
       'Category_of_customers_random_Inactive',
       'Category_of_customers_random_Passive'],
      dtype='object')

In [23]:
x = [ "No_of_orders_placed"]
for feat in x:
    dfz[feat + "_sq"] = (dfz[feat])**2

In [24]:
# dfz['op_or'] = (dfz['No_of_orders_placed'])**2 - (dfz['Orders_returned'])**2

In [25]:
train1 = dfz.iloc[0:12318]
test1 = dfz.iloc[12318: ]

In [26]:
# from sklearn.ensemble import ExtraTreesRegressor
# model = ExtraTreesRegressor()
# model.fit(train1,dfx_ans1)

In [27]:
# model.feature_importances_

In [28]:
# import matplotlib.pyplot as plt
# pd.Series(model.feature_importances_, index=train1.columns).plot(kind='bar',alpha=0.85, rot=90);

In [29]:
# dfz = dfz.drop(['Gender', 'Category_of_customers_random_Inactive', 'Orders_returned'], axis=1)      #have no effect

In [30]:
X_train = train1
y_train = dfx_ans
X_test = test1

In [31]:
from sklearn.preprocessing import StandardScaler
scalerX = StandardScaler().fit(X_train)
scalery = StandardScaler().fit(y_train)
X_train = scalerX.transform(X_train)
y_train = scalery.transform(y_train)
X_test = scalerX.transform(X_test)
# y_test = scalery.transform(y_test)

In [32]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X_train,y_train,test_size=0.25,random_state=0)

In [33]:
# from sklearn.linear_model import LinearRegression
# LR = LinearRegression()
# LR.fit(xtrain,ytrain)
# LR.score(xtest,ytest)

In [34]:
import xgboost as xg

In [35]:
xgb_r = xg.XGBRegressor(objective ='reg:linear',
                  n_estimators = 11, seed = 123)
xgb_r.fit(xtrain, ytrain)

pred = xgb_r.predict(xtest)

from sklearn.metrics import r2_score
r2 = r2_score(ytest, pred)
print('r2 score is', r2)

[16:31:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
r2 score is 0.7158714901768969

In [36]:
# from sklearn.ensemble import RandomForestRegressor
  
#  # create regressor object
# regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
  
# # fit the regressor with x and y data
# regressor.fit(xtrain, ytrain)  

# pred = regressor.predict(xtest)
# r2 = r2_score(ytest, pred)
# print('r2 score is', r2)

In [37]:
y_pred = xgb_r.predict(X_test)

In [38]:
# y_pred = regressor.predict(X_test)

In [39]:
y_pred_inverse = scalery.inverse_transform(y_pred)

In [40]:
y_pred_inverse

array([ 51.95487 ,  46.614983,  74.38918 , ...,  46.86017 , 107.64685 ,
       109.05035 ], dtype=float32)

In [41]:
sample2=pd.DataFrame(y_pred_inverse)

In [42]:
sample=pd.concat([sample1, sample2], join = 'outer', axis = 1)

In [43]:
sample.columns = ['Customer_ID','Gift_card_amount']

In [44]:
sample_data = sample.to_csv('sample1.csv', index = False)

In [45]:
sample

     Customer_ID  Gift_card_amount
0       ID0x163e         51.954868
1       ID0x22c3         46.614983
2       ID0x3d79         74.389183
3       ID0x25f1         51.350250
4       ID0x1fa5         50.698963
...          ...               ...
3075     ID0xe3d         49.302803
3076     ID0x554         46.614983
3077    ID0x1f0f         46.860168
3078     ID0x5ff        107.646851
3079    ID0x22f5        109.050346

[3080 rows x 2 columns]